.form {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .form__inputWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .form__taskInput {
    border-radius: 50px 0px 0 50px;
    padding: 10px 15px;
    width: 800px;
    max-width: 700px;
  }
  .form__addTaskBtn {
    border-radius: 0px 50px 50px 0px;
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .form__statusAlert {
    height: 0px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(244, 126, 150, 0.597);
    transition: height 0.2s ease-in-out;
    flex: 1;
  }
  
  .form__statusAlert--active {
    height: 20px;
  
  }
  