
.main__tasks{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.main__taskItem{
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    
}
.main__taskName{
    padding: 10px;
    flex: 1;
    overflow-x: auto;
}
.main__taskBtn{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
}

.main__taskItem--hidden{
    display: none;
}
.main__taskName--done{
    text-decoration: line-through;
    color: #ccc;
}